#content{
    border: 1px solid black;
    background-color: aqua;
    border-style: dashed;
    
}
#FN{
    
    color:red
}
.fm{
    margin-left: 10%;
}
.in{
    margin-left: 10%;
}
#AD{
    height: 50px;
}
#Other
{
    margin-left: 25%;
}
#HS{
    margin-left: 25%;
}
#EI
{
    margin-left: 11.2%;
}
#MB{
    margin-left: 7%;
}
#GD{
    margin-left: 11.5%;
}
#DB{
    margin-left: 8.5%;
}
#AD{
    margin-left: 11%;
}
#CT{
    margin-left: 13.2%;
}
#PN{
    margin-left: 10.4%;
}
#ST{
    margin-left: 12.4%;
}
#CU{
    margin-left:11.4% ;
}
#DRA{
    margin-left: 10.4%;
}
#HSD{
    margin-left: 8.5%;
}
#BCA{
    margin-left: 4.2%;
}
.co{
    margin-left: 25%;
}
#sub{
    margin-left: 25%;
}
#reset{
    margin-left: 5px;
}